<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>570889251.04894078</real>
		<key>sheetClusters</key>
		<dict>
			<key>2012-10-08-The-world-is-changing-fast.md</key>
			<dict>
				<key>lastModification</key>
				<real>570889251.04894078</real>
				<key>version</key>
				<dict>
					<key>legacy-570889251.048941</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-11-12-Introvert.md</key>
			<dict>
				<key>lastModification</key>
				<real>570889251.04894078</real>
				<key>version</key>
				<dict>
					<key>legacy-570889251.048941</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-12-26-hey2017.md</key>
			<dict>
				<key>lastModification</key>
				<real>570889251.04894078</real>
				<key>version</key>
				<dict>
					<key>legacy-570889251.048941</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2017-06-13-admission.md</key>
			<dict>
				<key>lastModification</key>
				<real>570889251.04894078</real>
				<key>version</key>
				<dict>
					<key>legacy-570889251.048941</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2017-09-20-time.md</key>
			<dict>
				<key>lastModification</key>
				<real>570889251.04894078</real>
				<key>version</key>
				<dict>
					<key>legacy-570889251.048941</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2018-02-23-pd.md</key>
			<dict>
				<key>lastModification</key>
				<real>570889251.04894078</real>
				<key>version</key>
				<dict>
					<key>legacy-570889251.048941</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2018-10-08-All-You-Zombies.md</key>
			<dict>
				<key>lastModification</key>
				<real>570889251.04894078</real>
				<key>version</key>
				<dict>
					<key>legacy-570889251.048941</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2019-01-12-Third-space.md</key>
			<dict>
				<key>lastModification</key>
				<real>570889251.04894078</real>
				<key>version</key>
				<dict>
					<key>legacy-570889251.048941</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2019-01-16-hahaha.md</key>
			<dict>
				<key>lastModification</key>
				<real>570889251.04894078</real>
				<key>version</key>
				<dict>
					<key>legacy-570889251.048941</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2019-01-23-kanya.md</key>
			<dict>
				<key>lastModification</key>
				<real>570889251.04894078</real>
				<key>version</key>
				<dict>
					<key>legacy-570889251.048941</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2019-02-12-2019birthday.md</key>
			<dict>
				<key>lastModification</key>
				<real>573750134.10413694</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>2019-03-08-mcu10year.md</key>
			<dict>
				<key>lastModification</key>
				<real>573750147.00509</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>2019-03-29-wanzidesktop-Alita.md</key>
			<dict>
				<key>lastModification</key>
				<real>575515751.99563897</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2019-03-29-wanzidesktop-April.md</key>
			<dict>
				<key>lastModification</key>
				<real>575516191.02824903</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>2019-04-20-wanzidesktop-Game.of.Thrones.md</key>
			<dict>
				<key>lastModification</key>
				<real>577457867.83406401</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>2019-04-30-goodemail.md</key>
			<dict>
				<key>lastModification</key>
				<real>578279162.15333295</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>2019-05-15-1q84.md</key>
			<dict>
				<key>lastModification</key>
				<real>579604846.63620603</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>47</integer>
				</dict>
			</dict>
			<key>2019-06-12-gmail-ConfidentialMode.md</key>
			<dict>
				<key>lastModification</key>
				<real>599411543.79129601</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>48</integer>
					<key>c55e2643b09d2bc554eaeedcddde7aa8884e147fcd466eda475dd040bb49cba0</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2019-12-31-2020.md</key>
			<dict>
				<key>lastModification</key>
				<real>599411606.76174104</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>48</integer>
					<key>c55e2643b09d2bc554eaeedcddde7aa8884e147fcd466eda475dd040bb49cba0</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>2020-02-01-2020birthday.md</key>
			<dict>
				<key>lastModification</key>
				<real>602390961.15734804</real>
				<key>version</key>
				<dict>
					<key>79dd7a41bcb565f437490a49385c65e22419db53b959a9b163e5b403d5a11d5c</key>
					<integer>3</integer>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>48</integer>
					<key>c55e2643b09d2bc554eaeedcddde7aa8884e147fcd466eda475dd040bb49cba0</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>2020-07-16-wujun-expectation-maximization-and-its-application-in-life.md</key>
			<dict>
				<key>lastModification</key>
				<real>616557688.01082504</real>
				<key>version</key>
				<dict>
					<key>79dd7a41bcb565f437490a49385c65e22419db53b959a9b163e5b403d5a11d5c</key>
					<integer>3</integer>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>48</integer>
					<key>c55e2643b09d2bc554eaeedcddde7aa8884e147fcd466eda475dd040bb49cba0</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>2020-07-27-Layoffs.md</key>
			<dict>
				<key>lastModification</key>
				<real>627788919.84979403</real>
				<key>version</key>
				<dict>
					<key>79dd7a41bcb565f437490a49385c65e22419db53b959a9b163e5b403d5a11d5c</key>
					<integer>3</integer>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>48</integer>
					<key>c55e2643b09d2bc554eaeedcddde7aa8884e147fcd466eda475dd040bb49cba0</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>2020-11-23-40.md</key>
			<dict>
				<key>lastModification</key>
				<real>627788992.57101595</real>
				<key>version</key>
				<dict>
					<key>79dd7a41bcb565f437490a49385c65e22419db53b959a9b163e5b403d5a11d5c</key>
					<integer>3</integer>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>48</integer>
					<key>c55e2643b09d2bc554eaeedcddde7aa8884e147fcd466eda475dd040bb49cba0</key>
					<integer>38</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2020-07-27-Layoffs.md</string>
		</array>
		<array>
			<string>2020-11-23-40.md</string>
		</array>
		<array>
			<string>2019-02-12-2019birthday.md</string>
		</array>
		<array>
			<string>2020-07-16-wujun-expectation-maximization-and-its-application-in-life.md</string>
		</array>
		<array>
			<string>2020-02-01-2020birthday.md</string>
		</array>
		<array>
			<string>2019-05-15-1q84.md</string>
		</array>
		<array>
			<string>2019-04-30-goodemail.md</string>
		</array>
		<array>
			<string>2019-12-31-2020.md</string>
		</array>
		<array>
			<string>2019-03-29-wanzidesktop-Alita.md</string>
		</array>
		<array>
			<string>2019-04-20-wanzidesktop-Game.of.Thrones.md</string>
		</array>
		<array>
			<string>2019-03-29-wanzidesktop-April.md</string>
		</array>
		<array>
			<string>2019-03-08-mcu10year.md</string>
		</array>
		<array>
			<string>2018-02-23-pd.md</string>
		</array>
		<array>
			<string>2019-01-16-hahaha.md</string>
		</array>
		<array>
			<string>2019-01-23-kanya.md</string>
		</array>
		<array>
			<string>2017-09-20-time.md</string>
		</array>
		<array>
			<string>2017-06-13-admission.md</string>
		</array>
		<array>
			<string>2019-01-12-Third-space.md</string>
		</array>
		<array>
			<string>2016-12-26-hey2017.md</string>
		</array>
		<array>
			<string>2015-11-12-Introvert.md</string>
		</array>
		<array>
			<string>2012-10-08-The-world-is-changing-fast.md</string>
		</array>
		<array>
			<string>2018-10-08-All-You-Zombies.md</string>
		</array>
		<array>
			<string>2019-06-12-gmail-ConfidentialMode.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>79dd7a41bcb565f437490a49385c65e22419db53b959a9b163e5b403d5a11d5c</key>
			<integer>3</integer>
			<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
			<integer>48</integer>
			<key>c55e2643b09d2bc554eaeedcddde7aa8884e147fcd466eda475dd040bb49cba0</key>
			<integer>39</integer>
		</dict>
	</dict>
</dict>
</plist>
